{% extends 'main.html' %}
<!--  -->
{% block content %}
<style>
    form input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #566e86;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
    }
    
    .containerr {
        padding: 30px;
        border-radius: 13px;
        background-color: white;
        width: 50vw;
        position: absolute;
        top: calc( 50% + 40px);
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<!--  -->
<div class="containerr">
    <h3>Enter new password</h3>
    <!--  -->
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form method="POST">
        {% csrf_token %} {{form}}
        <br>
        <input type="submit" value="Change Password" class="btn btn-primary">
    </form>
    <!--  -->
</div>
{% endblock content %}